@using TravelTripProje.Models.Siniflar
@model List<Blog>

<div class="con-bot">

    @foreach (var x in Model)
    {
        <div class="left">
            <div class="bot-left">
                <img style="height:200px; width:320px" src="@x.BlogImage" alt="" />
            </div>
            <div class="left-text">
                <h4>@x.Baslik</h4>
                <span class="doller">@x.Tarih.ToString("dd.MM.yy")</span>
                <p>@x.Aciklama.Substring(0, 97) ...</p>
                <p><a href="/Blog/BlogDetay/@x.ID"><span class="read">Devamını Oku >></span></a></p>
            </div>
        </div>
    }

    @Html.Action("Partial2", "Default")



    <div class="clear"></div>
</div>